<%= form_with model: [:madmin, record], url: (record.persisted? ? resource.show_path(record) : resource.index_path), local: true do |form| %>
  <% if form.object.errors.any? %>
    <div class="mb-4 rounded-md text-sm text-red-700 bg-red-100 p-4">
      <div class="mb-2 font-medium leading-5 text-red-800">There was <%= pluralize form.object.errors.full_messages.count, "error" %> with your submission</div>

      <% form.object.errors.full_messages.each do |message| %>
        <div class="ml-4"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-4 md:flex">
    <div class="block md:inline-block md:w-32 flex-shrink-0 text-gray-700">
      <label for="year">Year</label>
      <span class="text-red-500">*</span>
    </div>
    <%= form.select :year, @years, {selected: Time.zone.now.year}, class: 'form-input w-52' %>
  </div>

  <div class="mb-4 md:flex">
    <div class="block md:inline-block md:w-32 flex-shrink-0 text-gray-700">
      <label for="number">Flight Number</label>
      <span class="text-red-500">*</span>
    </div>
    <%= form.number_field :number, class: "form-input" %>
  </div>

  <div class="mb-4 md:flex">
    <div class="block md:inline-block md:w-32 flex-shrink-0 text-gray-700">
      <label for="start_time">Start Time</label>
      <span class="text-red-500">*</span>
    </div>
    <%= form.text_field :start_time, value: form.object.new_record? ? '12:00' : form.object.start_time.strftime('%H:%M'), class: "start_time hidden", data: {controller: "flatpickr", flatpickr_enable_time: true, flatpickr_no_calendar: true, flatpickr_date_format: "H:i", flatpickr_minute_increment: 1, flatpickr_inline: true } %>
  </div>

  <div class="mb-4 md:flex">
    <div class="block md:inline-block md:w-32 flex-shrink-0 text-gray-700">
      <label for="end_time">End Time</label>
      <span class="text-red-500">*</span>
    </div>
    <%= form.text_field :end_time, value: form.object.new_record? ? '12:00' : form.object.end_time.strftime('%H:%M'), class: "end_time hidden", data: {controller: "flatpickr", flatpickr_enable_time: true, flatpickr_no_calendar: true, flatpickr_date_format: "H:i", flatpickr_minute_increment: 1, flatpickr_inline: true } %>
  </div>

  <div class="mb-4 md:flex" >
    <div class="block md:inline-block md:w-32 flex-shrink-0 text-gray-700">
      <label for="beer_ids">Select Beers</label>
    </div>
    <%= form.collection_select :beer_ids, @beers, :id, :name, {include_hidden: false}, { class: 'form-select w-1/4', multiple: true, data: {controller: "select"} } %>
  </div>

  <%= form.submit class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
<% end %>
