<%= form_with(model: flight, data: {
  controller: "flatpickr"
}) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="my-auto">
        <%= flight.new_record? ? 'Create New Flight' : 'Edit Flight' %>
      </h5>
      <% if flight.persisted? %>
        <%= link_to flight, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <%= form.label :year %>
          <%= form.select :year, @years, {selected: Time.zone.now.year}, class: 'form-control' %>
        </div>
    
        <div class="col-12 col-md-6 mb-3">
          <label class="d-block">Flight Number</label>
          <%= form.text_field :number, class: 'form-control' %>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12 col-md-6 mb-3">
          <label class="d-block">Start Time</label>
          <%= form.text_field :start_time, class: "start_time d-none"  %>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <label class="d-block">End Time</label>
          <%= form.text_field :end_time, class: "end_time d-none"  %>
        </div>

      <hr class="text-primary border-3 opacity-100" />
      
    </div>

    <div class="card-footer text-center">
      <%= form.submit class: 'btn btn-primary btn-lg' %>

      <% if flight.persisted? %>
        <%= link_to "Cancel", flight, class: "btn btn-danger btn-lg" %>
      <% else %>
        <%= link_to "Cancel", flights_path, class: "btn btn-danger btn-lg" %>
      <% end %>
    </div>
  </div>
<% end %>