<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="col-8 text-center bg-dark rounded p-3 border border-3 border-primary text-light">
      <h1>Notifications</h1>
    </div>
  </div>
</div>

<% if @notifications.empty? %>
  <div class="alert alert-info text-center">You don't have any new notifications</div>
<% end %>

<% @notifications.each do |notification| %>
  <a id="notification-<%= notification.id %>"></a>
  <div class="card mb-3"> 
    <div class="card-header">
      <div class="row">
        <div class="col-3 text-start">
          <strong class="text-success">
            <% if notification.created_at.today? %>
              <%= notification.created_at.strftime("%l:%M %p") %>
            <% else %>
              <%= notification.created_at.strftime("%b #{notification.created_at.day.ordinalize} %l:%M %p") %>
            <% end %>
          </strong>
        </div>
        <div class="col-7 text-start">
          <strong class="text-primary"><%= notification.to_notification.full_title %></strong>
        </div>
      </div>
    </div>
    <div class="card-body">
      <strong><%= notification.to_notification.message %></strong>
    </div>
  </div>
<% end %>
