<div class="container mb-4 text-center">
  <% if !user_signed_in? %>
    <div class="row justify-content-center">
      <div class="col-8 bg-light rounded p-3 border border-2 border-primary" style="--bs-bg-opacity: .6;">
        <% if beer_toggle_enabled? %>
          <h1 class="text-primary">Ready to donate some beer?</h1>
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-danger btn-lg py-3 px-5 border-primary' %>
          <span class="small text-primary d-block m-1">
            * You will need the LBG Secret password to gain access to beer management.
            <a href="mailto:info@lawrencebrewers.org">Contact us</a>
            or reach out to an LBG officer for the password.  
          </span>
        <% else %>
          <h4 class="text-primary">Log In or Sign Up to check in, rate and review beers, and leave comments for the brewers</h4>
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-danger btn-lg py-3 px-5 my-1 border-primary' %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-danger btn-lg py-3 px-5 border-primary' %>
        <% end %>
      </div>
    </div>
  <% elsif current_user.current_member? && (current_user.breweries.empty? || current_user.beers.empty?) && beer_toggle_enabled? %>
    <div class="row justify-content-center">
      <div class="col-8 bg-light rounded p-3 border border-2 border-primary" style="--bs-bg-opacity: .6;">
        <h1 class="text-primary">Ready to donate some beer?</h1>
        <% if current_user.breweries.empty? %>
          <%= link_to "Create Your Brewery", new_brewery_path, class: 'btn btn-danger btn-lg py-3 px-5 border-primary' %>
        <% else %>
          <%= link_to "Add Beers", (current_user.breweries.count == 1 ? new_beer_path(brewery_id: current_user.breweries.last.id) : new_beer_path), class: 'btn btn-danger btn-lg py-3 px-5 border-3 border-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-xs-10 col-md-8 col-lg-6">
      <%= image_tag asset_path('BrewFest_Flyer_2023.jpg'), class: "w-100 rounded" %>
    </div>
  </div>
  <% if user_signed_in? && current_user.current_member? %>
    <div class="row mt-3 mb-5 text-center">
        <div class="col-12">
          <div class="d-grid gap-2">
            <%= link_to "BUY TICKETS", "https://www.lawrencebrewers.org/lbgforum/viewtopic.php?f=21&t=4820", target: "_blank", class: 'btn btn-primary btn-lg border-4 border-danger py-5', style: 'font-size: 32px; font-weight: 800; border-style: double'%>
          </div>
          <span class="text-primary"><b>* Must be a current/paid Lawrence Brewers Guild member to purchase</b></span>
        </div>
      </div>
    <% end %>
</div>