<div class="container">
  <span></span>
  <div class="row justify-content-center mb-3">
    <div class="col-8 text-center bg-dark rounded p-3 border border-3 border-primary text-light" >
      <h1>Live Music</h1>
    </div>
  </div>
</div>

<div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
        <div class="row p-3">
          <h1 class="text-center">Music to be announced soon...</h1>
        </div>
      </div>

<% if false %>
  <div class="container mb-5">
    <div class="row text-center justify-content-center mt-4">
      <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
        <div class="row p-3">
          <div class="col-3 text-start my-auto px-1 px-lg-5">
            <%= image_tag('LanceFahy', class: 'border border-2 rounded w-100 img-flex') %>
          </div>
          <div class="col-6 my-auto">
            <h2>LA Fahy</h2>
          </div>
          <div class="col-3 my-auto">
            <h3>12:00 - 12:20</h3>
          </div>
        </div>
      </div>

      <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
        <div class="row p-3">
          <div class="col-3 text-start my-auto px-1 px-lg-5">
            <%= image_tag('CryinOutLandBand', class: 'border border-2 rounded w-100 img-flex') %>
          </div>
          <div class="col-6 my-auto">
            <h2>Cryin' Out Loud</h2>
          </div>
          <div class="col-3 my-auto">
            <h3>12:20 - 1:40</h3>
          </div>
        </div>
      </div>

      <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
        <div class="row p-3">
          <div class="col-3 text-start my-auto px-1 px-lg-5">
            <%= image_tag('OldNo5s', class: 'border border-2 rounded w-100 img-flex') %>
          </div>
          <div class="col-6 my-auto">
            <h2>Old No. 5s</h2>
          </div>
          <div class="col-3 my-auto">
            <h3>1:50 - 3:10</h3>
          </div>
        </div>
      </div>

      <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
        <div class="row p-3">
          <div class="col-3 text-start my-auto px-1 px-lg-5">
            <%= image_tag('SRBBand', class: 'border border-2 rounded w-100 img-flex') %>
          </div>
          <div class="col-6 my-auto">
            <h2>SRB Band</h2>
          </div>
          <div class="col-3 my-auto">
            <h3>3:20 - 4:30</h3>
          </div>
        </div>
      </div>

      <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
        <div class="row p-3">
          <div class="col-3 text-start my-auto px-1 px-lg-5">
            <%= image_tag('AutomaticWolf', class: 'border border-2 rounded w-100 img-flex') %>
          </div>
          <div class="col-6 my-auto">
            <h2>Automatic Wolf</h2>
          </div>
          <div class="col-3 my-auto">
            <h3>4:40 - 6:00</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
