<div class="nested-fields">
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      Beer
      <%= link_to "#", data: {action: "click->nested-form#remove_association" }, class: 'text-danger' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <%= form.hidden_field :_destroy %>
        <% if current_user.admin? %>

        <% else %>
          <%=form.hidden_field :user_id, value: current_user.id %>
        <% end %>
        <%= form.text_field :name, autofocus: false, class: 'form-control', placeholder: "Beer Name" %>
      </div>

      <div class="mb-3" data-controller="select">
        <%= form.select :style, @beer_styles, {prompt: "Beer Styles"}, class:"form-select", "data-select-target": "tsField" %>
      </div>

      <div class="mb-3">
        <%= form.number_field :abv, step: 0.1, max: 20, autofocus: false, class: 'form-control', placeholder: "ABV" %>
      </div>

      <div class="mb-3">
        <%= form.number_field :ibu, step: 1, autofocus: false, class: 'form-control', placeholder: "IBU" %>
      </div>

      <div class="mb-3">
        <%= form.text_area :description, autofocus: false, class: 'form-control', placeholder: "Description" %>
      </div>

      <div class="mb-3">
        <%= form.text_field :untappd_link, autofocus: false, class: 'form-control', placeholder: "Untappd Url" %>
      </div>

      <div class="mb-3" data-controller="image-preview">
        <div class="mb-3">
          <%= form.label :label, class: "form-label text-primary" %><br>
          <%= form.file_field :label, accept: 'image/*', :class => "form-control-file photo_upload", "data-target": "image-preview.input", "data-action": "image-preview#readURL"  %>
        </div>

        <div class="row">
          <% if form.object.label.attached? %>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
              <span class="d-block">Current Image</span>
              <%= image_tag(form.object.label, :width => "100%", "data-target": "image-preview.output" ) %>
            </div>
          <% end %>
          <div class="col-6 col-sm-4 col-md-3 col-xl-2">
            <span class="d-block text-center">New Image Preview</span>
            <%= image_tag("imagePreview.jpg", :width => "100%", "data-target": "image-preview.output" ) %>
          </div>
        </div>     
      </div>

    </div>
  </div>
</div>