<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="col-8 text-center bg-light rounded p-3 border border-3 border-primary text-primary" >
      <h1>My Breweries</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center justify-content-center">
    <% @breweries.each do |brewery| %>
      <div class="col-xl-3 col-sm-6 mb-4">
        <div class="bg-white rounded shadow-sm pt-3">
          <% if false %>
            <span class="d-block text-end px-3" style="font-size: 24px"><i class="fa fa-edit text-danger"></i></span>
          <% end %>
          <%= image_tag asset_path('brewingIcon.png'), width: 100,  class: "img-fluid rounded-circle mb-3 img-thumbnail shadow-s" %>
          <h5 class="mb-0"><%= brewery.name %></h5>
          <span class="small text-uppercase text-muted"><%= brewery.member_name %></span>
          <%= link_to brewery do%>
            <div class="card-button mt-3">
              <h5><%= brewery.beers.count %> Beers</h5>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-xl-3 col-sm-6 mb-4">
      <div class="bg-white opacity-50 rounded shadow-sm pt-3 w-100 border border-2 border-dashed border-danger" style="border-style: dashed !important; height: 250px">
        <%= link_to new_brewery_path, class: "text-decoration-none" do %>
          <div class="d-flex flex-column justify-content-center h-100 text-danger">
            <i class="fa fa-2x fa-plus-circle"></i>
            Add Brewery
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>