
<div class="container">
  <div class="row text-center mb-2">
    <div class="col-12">
      <%= link_to "All Breweries", breweries_path, class: "btn btn-primary" %>
      <% if user_signed_in? %>
        <% if current_user.current_member? %>
          <%= link_to "My Breweries", manage_breweries_path, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
  

  <div class="row justify-content-center">
    <div class="col-12 text-center bg-light rounded p-3 border border-3 border-primary text-primary">
      <% if user_signed_in? && beer_toggle_enabled? %>
        <% if @brewery.user_id == current_user.id %>
          <%= link_to edit_brewery_path(@brewery) do %>
            <span class="float-end" style="font-size: 24px"><i class="fa fa-edit text-danger"></i></span>
          <% end %>
        <% end %>
      <% end %>
      <div data-controller="lightbox" data-lightbox-url-value= <%= @brewery.logo.attached? ? @brewery.logo.url : image_url("brewingIcon.png") %>>
        <%= image_tag @brewery.logo.attached? ? @brewery.logo : asset_path('brewingIcon.png'), style: "width: 110px; height: 110px; border-radius: 50% !important;", class: "img-thumbnail shadow-s", data: {action: "click->lightbox#show"} %>
      </div>
      <h1><%= @brewery.name %></h1>
    </div>
  </div>

<div class="container mt-4">
  <div class="row text-center justify-content-center">
    <% if (!user_signed_in? || @brewery.user_id != current_user.id) && @brewery.beers.empty?%>
      <div class="mt-3 w-75 alert alert-warning alert-sm p-1">
        <h4 class="my-auto">There are no beers to display for this brewery.  Check back later.</h4>
      </h4>
    <% else %>
      <% @brewery.beers.each do |beer| %>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4 d-flex flex-row align-items-stretch">
          <div class="bg-white rounded shadow-sm pt-3 w-100">
            <div class="d-flex flex-column justify-content-between h-100">
              <div>
                <% if user_signed_in? && beer_toggle_enabled? %>
                  <% if beer.user_id == current_user.id %>
                    <div class="d-flex justify-content-between px-3" style="font-size: 24px">
                      <%= link_to edit_beer_path(beer, brewery_id: beer.brewery_id) do %>
                        <i class="fa fa-edit text-danger"></i>
                      <% end %>
                      <%= link_to beer, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <div data-controller="lightbox" data-lightbox-url-value= <%= beer.label.attached? ? beer.label.url : image_url("beer_mug_icon.png") %>>
                  <%= image_tag beer.label.attached? ? beer.label : asset_path('beer_mug_icon.png'), style: "width: 125px; height: 125px; border-radius: 50% !important ",  class: "mb-3 img-thumbnail shadow-s", data: {action: "click->lightbox#show"} %>
                </div>
                <h5 class="mb-0"><%= beer.name %></h5>
                <% unless beer.beer_style_id.nil?%>
                  <span class="small text-uppercase text-muted"><%= beer&.beer_style&.bjcp_id %> - <%= beer&.beer_style&.style %></span>
                <% end %>
              </div>
              <div class="mt-auto">
                <div class="border-top border-3 border-primary mt-2"></div>
                <div class="bg-primary p-2 text-light border-top border-bottom" style="min-height: 25px;">
                  <%= beer.description %>
                </div>
                <div class="p-2 text-primary d-flex justify-content-between border-top border-3 border-primary">
                  <b><%= beer.ibu %> IBU</b>
                  <b><%= beer.abv%>% ABV</b>
                </div>
              </div>
              <% if beer.flight_id != nil %>
                <%= link_to flight_path(beer.flight), class: 'text-decoration-none' do%>
                  <div class="bg-danger p-1 rounded-bottom">
                    <h4 class="text-center text-light my-auto"><b>Flight <%= beer.flight.number %></b></h4>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if user_signed_in? && beer_toggle_enabled? %>
      <% if @brewery.user_id == current_user.id %>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4 d-flex flex-row align-items-stretch" style="min-height: 275px">
          <div class="bg-white opacity-50 rounded shadow-sm pt-3 w-100 border border-2 border-dashed border-danger" style="border-style: dashed !important">
            <%= link_to new_beer_path(brewery_id: @brewery.id), class: "text-decoration-none" do %>
              <div class="d-flex flex-column justify-content-center h-100 text-danger">
                <i class="fa fa-2x fa-plus-circle"></i>
                Add Beer
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
