<%= form_with(model: beer) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="my-auto">
        <%= beer.new_record? ? 'Create New Beer' : 'Edit Beer' %>
      </h5>
      <% if beer.persisted? %>
        <%= link_to beer, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <% if !@brewery.nil?%>
        <%= form.hidden_field :brewery_id, value: @brewery.id %>
      <% else %>
        <div class="mb-3">
          <label>Select Brewery</label>
          <%= form.select :brewery_id, current_user.breweries.collect {|b| [b.name, b.id]}, {}, {class: 'form-select'} %>
        </div>
        <hr class="text-primary border-3 opacity-100" />
      <% end %>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="mb-3">
        <%= form.text_field :name, autofocus: false, class: 'form-control', placeholder: "Beer Name" %>
      </div>

      <div class="mb-3" data-controller="select">
        <%= form.select :style, @beer_styles, {include_blank: "Beer Styles"}, class:"form-select", "data-select-target": "tsField" %>
      </div>

      <div class="mb-3">
        <%= form.number_field :abv, step: 0.1, max: 20, autofocus: false, class: 'form-control', placeholder: "ABV" %>
      </div>

      <div class="mb-3">
        <%= form.number_field :ibu, step: 1, autofocus: false, class: 'form-control', placeholder: "IBU" %>
      </div>

      <div class="mb-3">
        <%= form.text_area :description, autofocus: false, class: 'form-control', placeholder: "Description" %>
      </div>

      <div class="mb-3">
        <%= form.text_field :untappd_link, autofocus: false, class: 'form-control', placeholder: "Untappd Url" %>
      </div>
    </div>
    
    <div class="card-footer text-center">
      <%= form.submit class: 'btn btn-primary btn-lg' %>
      <%= link_to "Cancel", brewery_path(@brewery), class: "btn btn-danger btn-lg" %>
    </div>
  </div>
<% end %>
