<%= form_with(model: beer) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="my-auto">
        <%= beer.new_record? ? 'Create New Beer' : 'Edit Beer' %>
      </h5>
      <% if beer.persisted? %>
        <%= link_to beer, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <% if !@brewery.nil?%>
        <%= form.hidden_field :brewery_id, value: @brewery.id %>
      <% else %>
        <div class="mb-3">
          <label>Select Brewery</label>
          <%= form.select :brewery_id, current_user.breweries.collect {|b| [b.name, b.id]}, {}, {class: 'form-select'} %>
        </div>
        <hr class="text-primary border-3 opacity-100" />
      <% end %>

      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :year, value: Time.zone.now.year %>

      <div class="mb-3">
        <%= form.text_field :name, autofocus: false, class: 'form-control', placeholder: "Beer Name" %>
      </div>

      <div class="mb-3" data-controller="select">
        <%= form.select :beer_style_id, grouped_options_for_select(BeerStyle.select_options_grouped_by_category, form.object.beer_style_id), {include_blank: "Beer Styles"}, class:"form-select", "data-select-target": "tsField" %>
      </div>

      <div class="mb-3">
        <%= form.number_field :abv, step: 0.1, max: 20, autofocus: false, class: 'form-control', placeholder: "ABV" %>
      </div>

      <div class="mb-3">
        <%= form.number_field :ibu, step: 1, autofocus: false, class: 'form-control', placeholder: "IBU" %>
      </div>

      <div class="mb-3 border border-1 rounded px-3 pb-3 pt-1">
        <label class="text-primary mb-2 d-block">Type of Keg</label>
        <div>
          <%= form.radio_button :keg_type, "Ball Lock", id: 'ballLock', class: 'radio-group' %>
          <label for="ballLock">Ball Lock</label>
          <br/>
          <%= form.radio_button :keg_type, "Pin Lock", id: 'pinLock', class: 'radio-group' %>
          <label for="pinLock">Pin Lock</label>
        </div>
      </div>

      <div class="mb-3">
        <%= form.text_area :description, autofocus: false, class: 'form-control', placeholder: "Description" %>
      </div>

      <div class="mb-3">
        <%= form.text_field :untappd_link, autofocus: false, class: 'form-control', placeholder: "Untappd Url" %>
      </div>

      <div class="mb-3" data-controller="image-preview">
        <div class="mb-3">
          <%= form.label "Beer Label", class: "form-label text-primary" %><br>
          <%= form.file_field :label, accept: 'image/*', :class => "form-control-file photo_upload", "data-target": "image-preview.input", "data-action": "image-preview#readURL"  %>
        </div>

        <div class="row">
          <% if form.object.label.attached? %>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
              <span class="d-block">Current Image</span>
              <%= image_tag(form.object.label, :width => "100%") %>
            </div>
          <% end %>
          <div class="col-6 col-sm-4 col-md-3 col-xl-2">
            <span class="d-block text-center">New Image Preview</span>
            <%= image_tag("imagePreview.jpg", :width => "100%", "data-target": "image-preview.output" ) %>
          </div>
        </div>     
      </div>

    </div>
    
    <div class="card-footer text-center">
      <%= form.submit class: 'btn btn-primary btn-lg' %>
      <%= link_to "Cancel", brewery_path(@brewery.id), class: "btn btn-danger btn-lg" %>
    </div>
  </div>
<% end %>
