<%= form_with(model: beer) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :name, autofocus: false, class: 'form-control', placeholder: "Beer Name" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :style, autofocus: false, class: 'form-control', placeholder: "Beer Style" %>
  </div>

  <div class="mb-3">
    <%= form.number_field :abv, step: 0.1, max: 20, autofocus: false, class: 'form-control', placeholder: "ABV" %>
  </div>

  <div class="mb-3">
    <%= form.number_field :ibu, step: 1, autofocus: false, class: 'form-control', placeholder: "IBU" %>
  </div>

  <div class="mb-3">
    <%= form.text_area :description, autofocus: false, class: 'form-control', placeholder: "Description" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :untappd_link, autofocus: false, class: 'form-control', placeholder: "Untappd Url" %>
  </div>

  <div class="mb-3">
    <% if beer.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', beer, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if beer.persisted? %>
      <%= link_to "Cancel", beer, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", beers_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
